*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;

}

.blu{
  background-color: rgb(9, 9, 126);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-rosa{
  background-color: rgb(231, 55, 181);
  padding: 80px 254px;
  border-radius: 0 px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}

.bianco{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conta{
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.container-purple{
  background-color:purple;
  padding: 125px 180px;
  border-radius: 0 px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 315px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}

.container-orange{
  background-color:orange;
  padding: 125px 140px;
  border-radius: 0%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 300px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}



.con{
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.container-blu{
  background-color: rgb(83, 83, 234);
  padding: 125px 180px;
  border-radius: 0 px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 315px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}

.container-pink{
  background-color:pink;
  padding: 125px 140px;
  border-radius: 0%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 300px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}

.grigio{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont{
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.container-giallo{
  background-color:yellow;
  padding: 125px 140px;
  border-radius: 0%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 315px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}

.container-rosso{
  background-color: red;
  padding: 125px 180px;
  border-radius: 0 px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 300px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}


.grigio-due{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}




header{
  background-color: aquamarine;
  padding: 10px;
}

.blocco{
  display: inline-block;
  width: 30%;
  height: 50px;
  background-color: orange;
  color: black;
  margin-right: 10px;
  text-align: center;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}






.container-verde{
  background-color: forestgreen;
  padding: 125px 180px;
  border-radius: 0%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}

.container-marrone{
  background-color: maroon;
  padding: 200px 325px;
  border-radius: 0 px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: dashed;
  border-top: dashed;
  border-left: dashed;
  border-right: dashed;
}





  